<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>小荣</string>
		<key>content</key>
		<string>就是</string>
		<key>image</key>
		<string>1.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>小杜</string>
		<key>content</key>
		<string>收到</string>
		<key>image</key>
		<string>2.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>风轻云淡</string>
		<key>content</key>
		<string>不客气，空了聊</string>
		<key>image</key>
		<string>3.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>微笑</string>
		<key>content</key>
		<string>过来吃饭。</string>
		<key>image</key>
		<string>4.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>老三</string>
		<key>content</key>
		<string>可以了解一下。</string>
		<key>image</key>
		<string>5.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>二姐</string>
		<key>content</key>
		<string>早上好！</string>
		<key>image</key>
		<string>6.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>小小</string>
		<key>content</key>
		<string>一会儿出去！</string>
		<key>image</key>
		<string>7.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>球球</string>
		<key>content</key>
		<string>Hello!</string>
		<key>image</key>
		<string>8.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>咩</string>
		<key>content</key>
		<string>过去2年半。</string>
		<key>image</key>
		<string>9.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ho</string>
		<key>content</key>
		<string>发了哟。</string>
		<key>image</key>
		<string>10.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>鱼儿</string>
		<key>content</key>
		<string>[恭喜发财]</string>
		<key>image</key>
		<string>11.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>燕子</string>
		<key>content</key>
		<string>[表情]</string>
		<key>image</key>
		<string>12.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>小心</string>
		<key>content</key>
		<string>就是</string>
		<key>image</key>
		<string>13.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>大象</string>
		<key>content</key>
		<string>去了。</string>
		<key>image</key>
		<string>14.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>清风</string>
		<key>content</key>
		<string>下来。</string>
		<key>image</key>
		<string>15.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>一笑而过</string>
		<key>content</key>
		<string>[动画]</string>
		<key>image</key>
		<string>16.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>然然</string>
		<key>content</key>
		<string>下来。</string>
		<key>image</key>
		<string>17.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>潇潇</string>
		<key>content</key>
		<string>哈哈哈</string>
		<key>image</key>
		<string>18.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>当</string>
		<key>content</key>
		<string>一起呗。</string>
		<key>image</key>
		<string>19.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>宁夏</string>
		<key>content</key>
		<string>可以可以！</string>
		<key>image</key>
		<string>20.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>山河</string>
		<key>content</key>
		<string>Yahoo</string>
		<key>image</key>
		<string>21.jpg</string>
	</dict>
</array>
</plist>
